

<%= simple_form_for @experiment do |f| %>
<div class="form-labels-on-top">
  <%= select_tag(:collage_id, options_for_select(@collages), :prompt => "Select your collage") %>
</div>
<div class="form-labels-on-top">
  <%= select_tag(:branch_id, options_for_select(@branches), :prompt => "Select your branch") %>
</div>
<div class="form-labels-on-top">
  <%= select_tag(:sem_id, options_for_select(@sems), :prompt => "Select your sem") %>
</div>
<div class="form-labels-on-top">
  <%= select_tag(:lab_id, options_for_select(@labs), :prompt => "Select your lab") %>
</div>
  <div class="form-labels-on-top">
  <%= f.input :title, label: "Experiment title:" %>
</div>
  <div class="form-labels-on-top">
  <%= f.input :youtube_link, label: "youtube video url:" %>
</div>
<div class="form-labels-on-top">
  <h3>Add content:</h3> 
  <%= f.hidden_field :description, label: "Add content :", :input_html => { :rows => 7 , :style => 'width: 98%'} %>
  <%= f.trix_editor :description %>
</div>
<div class="form-labels-on-top">
  <%= f.button :submit %>
</div>
<% end %>
